<div class="logo">
    <div class="name">
        <img class="logo-image" src="assets/img/snail-logo.png">
        <h1>Les Escargots</h1>
        <img class="cart-image" src="assets/img/shopping-cart.png">
    </div>
<div class="container">
    <div class="menu">
        <div class="menu-buttons" >
            <app-filter (selectedFilter)="onFilterSelected($event)"></app-filter>
            <div class="dishes" *ngIf="products$ | async as product">
               <app-menu-card *ngFor="let dish of product" [dish]="dish"></app-menu-card>
            </div>
        </div>
    </div>
    <div class="cart">
        <app-cart-page></app-cart-page>
    </div>
</div>
</div>
