button{
    height: 5vh;
    width: 10vw;
    margin: 2.5vh;
    border-radius: 15%;
    background-color:#eebf5a;
    border: none;
    font-weight: 600;
}
.buttons{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

button:active{
    background-color:#FEAD02;
}